header {
  background-image: url(images/red-wall.jpg);
  height: 25vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  h1 {
    padding-top: 1.5em;
  }
}
.wip {
  h1 {
    font-size: 32pt;
  }
}
