form {
    padding: 0 5%;

    .formElm {
        margin: .5em;
    }

    @media screen and (min-width:35em) {
        padding: 0 20%;
    }

    @media screen and (min-width:70em) {
        padding: 0 28%;
    }
}

@media screen and (min-width:35em) {
    h2 {
        margin-left: 20px;
    }

    p {
        margin: 0 20px;
    }
}
