.wip {
  background-image: url(images/hotel-389256_1280.jpg);
  height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 32pt;
  }
}
