<h2>Staff Log In</h2>

<header ng-controller='LoginController as loginCtrl'>

  <section class='alert alert-warning'>
    <p ng-cloak ng-show='staff-login.email.$touched && !staff-login.email.$valid && !staff-login.password.$valid'>
      Sorry, but that is not the correct email and/or password.
    </p>
  </section>

  <form name='staff-login' ng-submit='loginCtrl.login()'>
    <aside>
      <label for='staff-email-for-login'>Email</label>
      <input type='email' class='form-control' placeholder='Staff Email' name='email' id='staff-email-for-login' required>
    </aside>

    <aside>
      <label for='staff-password-for-login'>Password</label>
      <input type='text' class='form-control' name='password' id='staff-password-for-login' required>
    </aside>
  </form>

</header>

  <input type='submit' class='btn btn-default' value='Log In'>
</form>
