<section>
  <h2>Create New Reservation</h2>
  <form class="form">
    <section class="form-group form-inline">
      <label for="checkIn">Check in</label>
      <input type="date" class="form-control" id="checkIn" placeholder="Email">

      <label for="checkOut">Check out</label>
      <input type="date" class="form-control" id="checkOut" placeholder="Password">
    </section>
    <section class="form-group form-inline">
      <label for="numGuests">Number of Guests</label>
      <input type="number" class="form-control" id="numGuests" min="1" placeholder="1";>
    </section>
    <section class="form-group form-inline">
      <label for="Guest">Guest</label>
      <input type="number" class="form-control" id="Guest" min="1" placeholder="Guest ID #";>

      <label for="Room">Room</label>
      <input type="number" class="form-control" id="Room" min="1" placeholder="Room ID #";>
    </section>
    <button type="submit" class="btn btn-primary">Make Reservation</button>
  </form>
</section>
